extends layout

block content
    body 
      h1 About Us
       style
         include ../assets/css/aboutus.css
    <div class="container">     
      <div class="jumbotron">
        <p class="lead">Diebold Nixdorf is an American multinational financial and retail technology company that specializes in the sale, manufacture, installation and service of self-service transaction systems (such as ATMs and currency processing systems), point-of-sale terminals, physical security products, and software and related services for global financial, retail, and commercial markets.</p>
        <hr class="my-4">
        <p>Technology Banking and Retail Main Office</p>
      </div>

      <div class="card mb-20">
        <img src="/images/bnk1.jpeg" class="card-img-top" style="max-height:400px;" alt="...">
        <div class="card-body">
          <h5 class="card-title text-dark">Diebold History</h5>
          <p class="card-text text-dark">Diebold Nixdorf was founded when Diebold Inc. acquired Germany's Wincor Nixdorf in 2016. It is estimated that Wincor Nixdorf controls about 35 percent of the global ATM market.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
