block content
    body
      script
        include ../assets/js/jquery-3.5.1.js
        include ../assets/js/changepassword.js
    <div class="modal fade" id="changePasswordModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="changepwdModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header bg-primary">
            <h5 class="modal-title text-light" id="changepwdModalLabel">Change Password</h5>
            <button id="closeChangepwd" type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <form id="changePwdForm" method="POST" autocomplete="off">
                <div class="mb-3">
                  <label for="nmail" class="form-label text-dark">Enter Email Address</label>
                  <input type="email" class="form-control" id="nmail" name="nmail" required>
                </div>
                <div class="mb-3">
                  <label for="npwd" class="form-label text-dark">Enter New Password</label>
                  <input type="password" class="form-control" id="npwd" name="npwd" required>
                </div>
                <button id="changeSubmitPwd" type="submit" class="btn btn-primary">save</button>
            </form>

        </div>
        <div class="modal-footer">
           <div id="chagePwdMsg" class="w-100 text-left text-danger" style="font-size:12px;"></div>
        </div>        
        </div>
    </div>
    </div>