block content
    body
      script
        include ../assets/js/jquery-3.5.1.js
        include ../assets/js/mfa.js
    <div class="modal fade" id="mfaAuthModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="mfaAuthModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header bg-success">
            <h5 class="modal-title text-light" id="mfaAuthModalLabel">2-Factor Authenticator</h5>
            <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <form id="mfaAuthForm" method="POST" autocomplete="off">
                <div class="mb-3">
                  <label for="mail" class="form-label text-dark">Enter 6 digits OTP Token</label>
                  <input type="email" class="form-control" id="mail" name="mail" required>
                </div>
                <button id="submitMfaAuth" type="submit" class="btn btn-primary">verify</button>
            </form>

        </div>
        <div class="modal-footer">
           <div id="mfaAuthMsg" class="w-100 text-left text-danger" style="font-size:12px;"></div>
        </div>        
        </div>
    </div>
    </div>