<div class="container">
    <h4 class="text-center">Product List</h4>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Descriptions</th>
            <th scope="col">Stocks</th>
            <th scope="col">Unit</th>            
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let product of products">
            <td>{{product.id | slice:22:24 }}</td>
            <td>{{product.descriptions}}</td>
            <td>{{product.qty}}</td>
            <td>{{product.unit}}</td>
            <td>{{product.sell_price | number : '1.2-2' }}</td>
          </tr>

        </tbody>
      </table>

      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a (click)="lastPage($event)" class="page-link" href="#">Last</a></li>
          <li class="page-item"><a (click)="prevPage($event)" class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a (click)="nextPage($event)" class="page-link" href="#">Next</a></li>
          <li class="page-item"><a (click)="firstPage($event)" class="page-link" href="#">First</a></li>
          <li class="page-item page-link text-danger">Page&nbsp;{{page}} of&nbsp;{{totpage}}</li>

        </ul>
      </nav>
</div>
